html {
    font-size: 62.5%; /* Esto hace que 1rem sea igual a 10px (10px es el 62.5% de 16px) */
  }  

body{
    background: #E9ECF8;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

header{
    padding: 2rem 1rem;
}

.ingresarTexto{
    text-align: center;
    height: 80vh;
    padding: 1rem 2rem;
}

.ingresarTexto textarea{
    appearance: none;
    border: none;
    background: #E9ECF8;
    color: #0A3871;
    font-size: 3.2rem;
    width: 100%;
    resize: none;
    margin: 3rem auto;
    outline: none;
    height: 50%;
    line-height: 4.8rem;
}

.ingresarTexto textarea::placeholder{
    opacity: 1;
    font-family: 'Inter', sans-serif;
}

.AdvertenciaYBotones{
    text-align: left;
}

.advertencia{
    margin: 2rem auto;
}

.advertencia p{
    color: #495057;
    font-size: 1.2rem;
    vertical-align: top;
    line-height: 1.8rem;
    display: inline;
    margin-left: .5rem;
}

.boton{
    display: inline;
    width: 100%;
    border-radius: 2.4rem;
    font-size: 1.6rem;
    height: 5rem;
}